<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">


      {% if page.image.feature %}
      <div class="post-image-feature">
        <img class="feature-image" src=
             {% if page.image.feature contains "http" %}
             "{{ page.image.feature }}"
             {% else %}
             "{{ site.url }}/assets/img/{{ page.image.feature }}"
             {% endif %}
             {% if page.image.alt %}
             alt="{{ page.image.alt }}"
             {% else %}
             alt="{{ page.title }} feature image"
             {% endif %}
             >

        {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% endif %}
      </div><!-- /.image-wrap -->
      {% endif %}
      <h1>
        {{ page.title }}
      </h1>

      {{ content }}
    </div>
    {% include footer.html %}
  </div>

</body>
</html>
