---
layout: default
---

<h1>
  {{ page.title }}
</h1>


{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains "http" %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.url }}/assets/img/{{ page.image.feature }}"
  {% endif %}
  {% if page.image.alt %}
  alt="{{ page.image.alt }}"
  {% else %}
  alt="{{ page.title }} feature image">
  {% endif %}

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}

{{ content }}

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% comment %}
{% include related-posts.html %}
{% endcomment %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
